.button {
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-family: Arial;

}

.button:hover {
    background: lightblue;
    cursor: pointer;
}