.item {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid black;
    padding: 10px;
    border-radius: 20px;
}

.title {
    font-size: 14px;
    font-weight: 600;
    font-family: Arial;
    font-style: oblique;
    max-width: 100%;
}

.date {
    font-size: 16px;
    font-weight: 900;
    font-family: Arial;
    max-width: 100%;
}

.button {
    border-radius: 5px;
    width: 100px;
    height: 30px;
    border: none;
    font-family: Arial;
}

.button:hover {
    background: lightblue;
    cursor: pointer;
}